<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuario</title>
</head>
<body>
  <h1>Usuario</h1>
  <a href="/create">Crear un nuevo usuario</a>
  <ul>
    <% users.forEach(user => { %>
      <li>
        <%= user.name %> - <%= user.age %>
        <a href="/edit/<%= user._id %>">Editar</a>
        <a href="/delete/<%= user._id %>">Eliminar</a>
      </li>
    <% }) %>
  </ul>
</body>
</html>